div(class="jumbotron")
    div(class="row")

        form(action="/Auth/SendResetEmail", method="post")
            div(class="col-lg-4 col-md-4 col-sm-12")
                input(type="", name="Email")
            div(class="col-lg-4 col-md-4 col-sm-12")
                input(type="submit" value="Send Email")
                
        form(action="/Auth/ResetPassword", method="post")        
            div(class="col-lg-4 col-md-4 col-sm-12")
                input(type="text", name="Code")
            div(class="col-lg-4 col-md-4 col-sm-12")
                input(type="submit", value="Reset Password")
