extends ../layout

block content

        each project in projects
             div(class="row project")
                 div(class="col-lg-12 col-md-12 col-sm-12")
                    h1(class="title")
                        a(href=project.id)=project.title
                 div(class="col-lg-12 col-md-12 col-sm-12")
                    p=project.language
                div(class="col-lg-12 col-md-12 col-sm-12")
                    p=project.created
