extends ../layout

block content
    form(class="signup" ,action="Signup/" + projectObj.projectId, method="post")
        if !userExists
            input(type="submit", value="Signup for project")
        else
            p SignedUp
    div(class="row project-wraper")
        div(class="col-lg-12 col-md-12 col-sm-12")
            h1= projectObj.title
        div(class="col-lg-12 col-md-12 col-sm-12")
            p= projectObj.description 
        div(class="col-lg-12 col-md-12 col-sm-12") 
            p= projectObj.owner
