div(class="auth-menu")
        div(class="auth-item")
          a(href="/Auth/Register") Register
        div(class="auth-item")
          a(href= "/Auth/Login") Login
        div(class="auth-item")
        form(action="/Auth/Logout", method="post")
          input(type="submit", value="Logout")