
link(href='/stylesheets/style.css', rel='stylesheet')
script(src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js")
link(type="text/css" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" rel="stylesheet")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css")
link(rel="stylesheet", href="")
script(defer src="/socket.io/socket.io.js")
script(defer src="https://cdn.tiny.cloud/1/s8qczp32xq36xko29t0bov9yvxopntcgrm9pytxhd223wkk8/tinymce/5/tinymce.min.js" referrerpolicy="origin")
script(defer src="/stylesheets/javascript.js")
