div(class="header")
  div(class="auth-menu")
      div(class="row")
          if !logged       
              div(class="auth-item col-lg-4 col-md-4 col-sm-12")
                a(href="/Auth/Register") Register
              div(class="auth-item col-lg-4 col-md-4 col-sm-12")
                a(href= "/Auth/Login") Login
              div(class="auth-item col-lg-4 col-md-4 col-sm-12")
                a(href= "/Auth/ResetPassword") Forgotten Password
          if logged                               
            div(class="username col-lg-4 col-md-4 col-sm-12")
              a(href="/User/")=username                
            if admin
              div(class="admin col-lg-4 col-md-4 col-sm-12")
                a(href="/Admin/Index") Admin Menu
            div(class="auth-item col-lg-4 col-md-4 col-sm-12")
                form(action="/Auth/Logout", method="post")
                  input(type="submit", value="Logout")
  div(class="navigation")
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand" href="/") DevSpaceR