extends layout

block content
    p(class="error")=error
    p(class="info")=info

    a(href="#signup-project") Want to build up your CV?

    section(id="build-project")
        div(class="row")
            div(class="index-title col-lg-12 col-md-12 col-sm-12")
                h1 Have an idea?
            div(class="index-explanation col-lg-12 col-md-12 col-sm-12")
                
                
    section(id="signup-project")
        div(class="row")
            div(class="index-title col-lg-12 col-md-12 col-sm-12")
                h1 Want to work on project?