doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js")
    link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css")

  body
    div(class="auth-menu")
      div(class="auth-item")
        a(href="/Auth/Register") Register
      div(class="auth-item")
        a(href= "/Auth/Login") Login

    block content