doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="auth-menu")
      div(class="auth-item")
        a(href="/Auth/Register") Register
      div(class="auth-item")
        a(href= "/Auth/Login") Login

    block content