doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js")
    link(type="text/css" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" rel="stylesheet")

  body
    
    include ./includes/head.jade
  
    block content