extends ../layout

block content

    form(action="/User/Profile/Create/#{username}", method="post")
        input(type="text" name="Name")

        input(type="text", name="")
        
        input(type="submit", value="Create Profile")