extends ../layout

block content

    h1 Manager

    if projects.length == 0
        h1 You have no projects
    else
        each project in projects
            h1=project.title
            p=project.description
            p=project.creator
            